/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ruh1';
    src: url('fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: 'ruh1 medium';
    src: url('fonts/FrankRuhlLibre-Medium.ttf.ttf');
}

@font-face {
    font-family: 'Vibes';
    src: url('fonts/GreatVibes-Regular.ttf');
}

html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(1.5rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --grey-text: #515151;
}

h1 {
    font-size: var(--header1);
    font-family: 'Vibes', sans-serif;
}

li,
input,
a,
p,
label,
button {
    font-size: var(--text);
}

h2 {
    font-size: var(--header2);

}

h3 {
    font-size: var(--header3);

}

a {
    text-decoration: none;
    color: black;

}

h4,
h5 {
    font-size: var(--header4);

}

ul {
    list-style: none;

}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'ruh1', sans-serif;
    animation: opening 1.2s ease-in-out;
}

/* Nav Section */
.main-head {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    min-height: 10vh;
}

#logo {
    flex: 1 1 20rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.hero {
    min-height: 90vh;
    width: 90%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;
}

.hero-introduction a {
    padding: 2rem 8rem;
    border: 2px solid black;
    margin-bottom: 4rem;
}

.hero-introduction p {
    padding: 5rem 5rem;
}

.hero-introduction h2 {
    padding: 2rem;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
    pointer-events: none;


}

.hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plant-entrance 1.5s ease-in-out 0.3s;
    animation: plant-shake 2s ease-in-out alternate-reverse infinite;
    transform-origin: bottom;
    max-height: 80%;

}

.plant2 {
    left: 40%;

}



/* Animations */
@keyframes opening {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}

@keyframes plant-entrance {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0%);

    }
}

@keyframes plant-shake {
    from {
        transform: rotateZ(-3deg);
    }

    to {
        transform: rotateZ(0deg);

    }
}

/* Media Query */
/* @media screen and (max-width:827px) {
    .hero {
        width: 100%;
    }
} */

@media screen and (max-width:799px) {
    .hero {
        width: 100%;

    }

    nav {
        overflow: hidden;
    }

    .burger {

        cursor: pointer;
        z-index: 1;

    }

    .burger div {
        padding: 0.3rem 2rem;
        background-color: #414141;
        margin: 0.3rem 0rem;
        display: block;
    }

    .nav-links a {
        color: whitesmoke;
        font-size: var(--header2);
    }

    nav .nav-links {
        background: linear-gradient(#dad8dd, #dad1d4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        transition: 1s ease-in-out;
        overflow: hidden;
    }

    nav .lol {
        transition: 1s ease-in-out;
        left: 0;

    }

    nav .burger-color div {
        background-color: rgb(136, 133, 133);
        transition: 2s ease all 0.1s;

    }

}